.button {
  appearance: none;
  background-color: var(--primary);
  border: none;
  font-size: 18px;
  font-weight: 500;
  padding: 0.7em;
  border-radius: 8px;
  color: inherit;
}

.button:not(:disabled) {
  cursor: pointer;
}

.button:disabled{
  opacity: 0.5;
}